<div id="analytics_container">
  <div id="hourly">
    <div class='graph' id="users_10_seconds"></div>
    <div class='graph' id="rooms_10_seconds"></div>
  </div>

  <div id="daily">
    <div class='graph' id="users_1_minute"></div>
    <div class='graph' id="rooms_1_minute"></div>
  </div>
</div>
