// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#analytics_container {
  width:1260px;
  margin:auto;
}

div#analytics_container div.graph {
  width:560px;
  height:280px;
  float:left;
  margin:20px;
}
